In [13]:
#%%
from mip import Model, xsum, minimize, BINARY, INTEGER
import pandas as pd

In [14]:
#%%
cost = pd.read_csv('cost.csv', index_col=0)
demand = pd.read_csv('demand.csv', index_col=0)
prepaid = pd.read_csv('prepaid.csv', index_col=0)

# Sets

T = Time

I = items

J = machines

# parameters

$x_{i,j,k}$ = amount of item $i$ using $j$ at time $t$

$u_{i, t}$ = amout of not meeted item $i$ at time $t$

In [15]:
#%%
# set
T = list(range(len(cost.index)))
I = list(cost.columns)
J = ['A', 'B', 'C']
cit = {}
pit = {}
dit = {}
mijt = {}

#%%
# Parameters
for i, item in enumerate(cost.columns):
    for t, date in enumerate(cost.index):
        cit[item, t] = int(cost.iloc[t, i])

for i, item in enumerate(prepaid.columns):
    for t, date in enumerate(prepaid.index):
        pit[item, t] = int(prepaid.iloc[t, i])

for i, item in enumerate(demand.columns):
    for t, date in enumerate(demand.index):
        dit[item, t] = int(demand.iloc[t, i])

for i, item in enumerate(demand.columns):
    for j  in J :
        for t, date in enumerate(demand.index):
            mijt[item,j, t] = 1
# variables
m = Model("Unist_optimization")
xijt = {
    (i, j, t): m.add_var(var_type=INTEGER, name="x_%s,%s,%s" % (i, j, t))
    for i in I for j in J for t in T
    }
uit = {
    (i, t): m.add_var(var_type=INTEGER, name="u_%s,%s" % (i, t))
    for i in I for t in T
}

In [16]:
cit

{('a', 0): 1,
 ('a', 1): 1,
 ('a', 2): 1,
 ('a', 3): 1,
 ('a', 4): 1,
 ('a', 5): 1,
 ('b', 0): 1,
 ('b', 1): 1,
 ('b', 2): 1,
 ('b', 3): 1,
 ('b', 4): 1,
 ('b', 5): 1,
 ('c', 0): 1,
 ('c', 1): 1,
 ('c', 2): 1,
 ('c', 3): 1,
 ('c', 4): 1,
 ('c', 5): 1,
 ('d', 0): 1,
 ('d', 1): 1,
 ('d', 2): 1,
 ('d', 3): 1,
 ('d', 4): 1,
 ('d', 5): 1}

In [17]:
pit

{('a', 0): 2,
 ('a', 1): 1,
 ('a', 2): 1,
 ('a', 3): 1,
 ('a', 4): 1,
 ('a', 5): 2,
 ('b', 0): 1,
 ('b', 1): 1,
 ('b', 2): 1,
 ('b', 3): 1,
 ('b', 4): 1,
 ('b', 5): 1,
 ('c', 0): 2,
 ('c', 1): 1,
 ('c', 2): 2,
 ('c', 3): 2,
 ('c', 4): 1,
 ('c', 5): 1,
 ('d', 0): 2,
 ('d', 1): 2,
 ('d', 2): 2,
 ('d', 3): 2,
 ('d', 4): 2,
 ('d', 5): 1}

In [18]:
dit

{('a', 0): 3,
 ('a', 1): 3,
 ('a', 2): 4,
 ('a', 3): 6,
 ('a', 4): 2,
 ('a', 5): 5,
 ('b', 0): 4,
 ('b', 1): 3,
 ('b', 2): 2,
 ('b', 3): 8,
 ('b', 4): 3,
 ('b', 5): 6,
 ('c', 0): 5,
 ('c', 1): 7,
 ('c', 2): 9,
 ('c', 3): 1,
 ('c', 4): 5,
 ('c', 5): 9,
 ('d', 0): 6,
 ('d', 1): 8,
 ('d', 2): 1,
 ('d', 3): 5,
 ('d', 4): 8,
 ('d', 5): 2}

In [19]:
mijt

{('a', 'A', 0): 1,
 ('a', 'A', 1): 1,
 ('a', 'A', 2): 1,
 ('a', 'A', 3): 1,
 ('a', 'A', 4): 1,
 ('a', 'A', 5): 1,
 ('a', 'B', 0): 1,
 ('a', 'B', 1): 1,
 ('a', 'B', 2): 1,
 ('a', 'B', 3): 1,
 ('a', 'B', 4): 1,
 ('a', 'B', 5): 1,
 ('a', 'C', 0): 1,
 ('a', 'C', 1): 1,
 ('a', 'C', 2): 1,
 ('a', 'C', 3): 1,
 ('a', 'C', 4): 1,
 ('a', 'C', 5): 1,
 ('b', 'A', 0): 1,
 ('b', 'A', 1): 1,
 ('b', 'A', 2): 1,
 ('b', 'A', 3): 1,
 ('b', 'A', 4): 1,
 ('b', 'A', 5): 1,
 ('b', 'B', 0): 1,
 ('b', 'B', 1): 1,
 ('b', 'B', 2): 1,
 ('b', 'B', 3): 1,
 ('b', 'B', 4): 1,
 ('b', 'B', 5): 1,
 ('b', 'C', 0): 1,
 ('b', 'C', 1): 1,
 ('b', 'C', 2): 1,
 ('b', 'C', 3): 1,
 ('b', 'C', 4): 1,
 ('b', 'C', 5): 1,
 ('c', 'A', 0): 1,
 ('c', 'A', 1): 1,
 ('c', 'A', 2): 1,
 ('c', 'A', 3): 1,
 ('c', 'A', 4): 1,
 ('c', 'A', 5): 1,
 ('c', 'B', 0): 1,
 ('c', 'B', 1): 1,
 ('c', 'B', 2): 1,
 ('c', 'B', 3): 1,
 ('c', 'B', 4): 1,
 ('c', 'B', 5): 1,
 ('c', 'C', 0): 1,
 ('c', 'C', 1): 1,
 ('c', 'C', 2): 1,
 ('c', 'C', 3): 1,
 ('c', 'C', 4): 1,
 ('c', 'C', 5): 1,
 ('d', 'A', 0): 1,
 ('d', 'A', 1): 1,
 ('d', 'A', 2): 1,
 ('d', 'A', 3): 1,
 ('d', 'A', 4): 1,
 ('d', 'A', 5): 1,
 ('d', 'B', 0): 1,
 ('d', 'B', 1): 1,
 ('d', 'B', 2): 1,
 ('d', 'B', 3): 1,
 ('d', 'B', 4): 1,
 ('d', 'B', 5): 1,
 ('d', 'C', 0): 1,
 ('d', 'C', 1): 1,
 ('d', 'C', 2): 1,
 ('d', 'C', 3): 1,
 ('d', 'C', 4): 1,
 ('d', 'C', 5): 1}

![]('.img1.png')

In [20]:

# objective
m.objective = minimize(
    xsum(uit[i, t]*cit[i, t]*pit[i, t] for i in I for t in T)
    )

# constraint
# Constraint 1:-
for i in I:
    for t in T:
        m += (uit[i, t] + xsum(xijt[i, j, t] for j in J) ==  dit[i, t])

# Constraint 2:-
for j in J:
    for t in T:
        m += (xsum(mijt[i, j, t]*xijt[i, j, t] for i in I) <=  1200)

# Constraint 3, 4:-
for i in I:
    for j in J:
        for t in T:
            m += (xijt[i, j, t] >= 0)
for i in I:
    for t in T:
        m += (uit[i, t] >= 0)

m.write('model.lp')
m.read('model.lp')
# %%
m.optimize()

# %%
solution = []
for i in I:
    for j in J:
        for t in T:
            solution.append([xijt[i, j, t].name, xijt[i, j, t].x])
            solution.append([uit[i, t].name, uit[i, t].x])
solution = pd.DataFrame(
    solution,
    columns=['variable', 'solution'])
solution.sort_values(['variable', 'solution'], inplace=True)
solution.to_csv('solution.csv', index=False)
solution.drop_duplicates().to_csv('solution.csv', index=False)
print(f'Objective value is : {m.objective_value}')

Objective value is : 0.0

In [21]:
solution = pd.read_csv('solution.csv')
solution[solution['solution']>0]

   variable  solution
26  x_a,A,2       4.0
27  x_a,A,3       6.0
28  x_a,A,4       2.0
29  x_a,A,5       5.0
36  x_a,C,0       3.0
37  x_a,C,1       3.0
42  x_b,A,0       4.0
43  x_b,A,1       3.0
50  x_b,B,2       2.0
57  x_b,C,3       8.0
58  x_b,C,4       3.0
59  x_b,C,5       6.0
64  x_c,A,4       5.0
65  x_c,A,5       9.0
67  x_c,B,1       7.0
72  x_c,C,0       5.0
74  x_c,C,2       9.0
75  x_c,C,3       1.0
78  x_d,A,0       6.0
91  x_d,C,1       8.0
92  x_d,C,2       1.0
93  x_d,C,3       5.0
94  x_d,C,4       8.0
95  x_d,C,5       2.0